{% extends 'layout.html' %}
{%block body%}
<html>

<head>
  
  <img src="{{ url_for('static', filename='images/camara.png') }}" class="rounded float-start"  width="50" height="50" align="right">

</head>
<body>
  <br><br><br><br><br><br>
     {% for dato in pelicula %}
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-success">
        <h3 class="card-title">Cantidad de peliculas</h3>
        <center>
        <H1>
    <td>{{ dato.0 }}</td> 
    </H1>
    </center>
      </div>
    </div>
  </div>
  {% endfor %}
  {% for dato in empleado %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-info">
        <h3 class="card-title">Empleados activos</h3>
        <center>
        <H1>
        <td>{{ dato.0 }}</td> 
        </H1>
        </center>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<br><br><br><br><br>
     {% for dato in clientes %}
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-warning">
        <h3 class="card-title">Cantidad de clientes</h3>
        <center>
        <H1>
    <td>{{ dato.0 }}</td> 
    </H1>
    </center>
      </div>
    </div>
  </div>
  {% endfor %}
  {% for dato in salas %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-primary">
        <h3 class="card-title">Salas disponibles</h3>
        <center>
        <H1>
        <td>{{ dato.0 }}</td> 
        </H1>
        </center>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<br><br><br><br><br>

    <img src="  {{ url_for('static', filename='images/Videographer-pana.png') }}" class="card-img-top" alt="video">
    <br><br><br><br>

    <p>El presente proyecto fue desarrollado en su totalidad por estudiantes de la  <a href="https://www.emi.edu.bo/">ESCUELA MILITAR DE INGENIERIA</a> para poder realizar CRUD sobre las diferentes tablas dentro de nuestra base de datos.</p>
    <p>se trataria de un diseño web para el control de un cine.</p>
    <center>
    <img src="{{ url_for('static', filename='images/emi2.png') }}" class="rounded float-start" alt="emi">
    <img src=" {{ url_for('static', filename='images/emi.png') }}" class="rounded float-end" alt="emi">
    <!center>
<br><br><br><br><br><br>

    <p>La siguiente imagen muestra el <strong>Diagrama de entidad Relacion</strong> donde vemos todas las relaciones de las tablas para poder
    conformar nuestro cine.</p>
    <br><br><br><br><br><br>
    <img src="  {{ url_for('static', filename='images/MR.png') }}" class="card-img-top" alt="emi">
</body>
</html>
{% endblock %}