{% extends 'layout.html' %}
{%block body%}
<div class="card">
    <center>
        <br>
        <br>
        <form action="Cliente">
            <li>
                <button class="btn btn-primary">Clientes</button>
            </li>
        </form>
        <br>
        <form action="Empleado">
            <li>
                <button class="btn btn-secondary">Empleados</button>
            </li>
        </form>
        <br>
        <form action="Pelicula">
            <li>
                <button class="btn btn-primary">Peliculas</button>
            </li>
        </form>
        <br>
        <form action="Sala">
            <li>
                <button class="btn btn-secondary">Salas</button>
            </li>
        </form>
        <br>
          <form action="Funcion">
            <li>
                <button class="btn btn-primary">Funciones</button>
            </li>
        </form>
        <br>
        <br>
    </center>
</div>
<img src="  {{ url_for('static', filename='images/friends.png') }}" class="card-img-top" alt="video">
{% endblock %}